foresee_python_scripts_science_exp/

lsdfailtools-master/

plot_iverson_lsdtt/

bitbucket_foresee/lsdfailtools/

bitbucket_foresee/foresee_python_scripts/lsdfailtools/

*.pyc

build/
dist/
lsdfailtools.egg-info/
lsdfailtools/.gitignore
python_tools/doc_iverson-python.yml
python_tools/machine_learning/
python_tools/time_series_analysis/
tmp/

